S3method(print,scscale_fit)
export(discrete_vector_empirical_mi)
export(empirical_mi)
export(label_target_matrix)
export(numeric_target_matrix)
export(numeric_vector_empirical_mi)
export(right_singular_vectors)
export(scscale_cell_scaling)
export(scscale_downsample_counts)
export(scscale_downsample_counts_fraction)
export(scscale_fit)
export(scscale_fit_mp_iterative)
export(scscale_i_infinity)
export(scscale_information_from_theta)
export(scscale_mi)
export(scscale_mp_goodness)
export(scscale_normalize_counts)
export(scscale_prepare_matrix)
export(scscale_recoverability)
export(scscale_spectrum)
export(scscale_spike_table)
export(scscale_target_mi)
export(scscale_theory_mi)
export(scscale_theta_infinity)
export(scscale_umi_scaling)
export(select_hvgs)
export(subspace_overlap_mi)
import(Matrix)
